<main>
  <div class="content-wrapper">
    <div class="page-header">
      <h1>My Idea</h1>
      <a class="btn " href="#">Create Idea</a>
    </div>
  </div>
  <div class="content-wrapper">
    <ul class="bare-list float-grid css-grid">
      <% @ideas.each do |idea| %>
        <li>
          <%= render(partial: 'idea_card', locals: {title: idea.title})  %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="see-more">
    <button class="btn" type="button" data-more="true">See more</button>
  </div>
