<nav class="site-header__nav">
  <ul class="main-navigation">
    <li> <%= link_to(translate('all_ideas'), ideas_path)%> </li>
    <li> <%= link_to(translate('signup'),signup_path)%> </li>
    <li> <%= link_to(translate('login'),login_path)%> </li>
  </ul>
</nav>
