<nav class="site-header__nav">
  <ul class="main-navigation">
    <li> <%= link_to(translate('all_ideas'), ideas_path)%> </li>
    <li> <%= link_to(translate('signup'), '/signup')%> </li>
    <li> <%= link_to(translate('login'), '/login')%> </li>
  </ul>
</nav>
