<nav class="site-header__nav">
  <ul class="main-navigation">
    <li><a href="#nolink">Inspiration</a></li>
    <li><a href="#nolink">Sign up</a></li>
    <li><a href="#nolink">Log in</a></li>
  </ul>
</nav>
